export XAI_API_KEY=xai-
export ANTHROPIC_API_KEY=sk-ant-
export GROQ_API_KEY=gsk_
export LITELLM_MASTER_KEY=<anything>
export OLLAMA_BASE_URL=http://localhost:11434
export TRACELOOP_BASE_URL=http://localhost:4318
export TRACELOOP_TRACE_CONTENT=True
