receivers:
  otlp:
    protocols:
      http:
        endpoint: 127.0.0.1:4318

processors:
  cumulativetodelta:

exporters:
  debug:
    verbosity: detailed
  otlphttp/dynatrace:
    endpoint: ${env:DT_ENDPOINT}/api/v2/otlp
    headers:
       Authorization: "Api-Token ${env:DT_API_TOKEN}"

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [cumulativetodelta]
      exporters: [debug, otlphttp/dynatrace]
    traces:
      receivers: [otlp]
      processors: []
      exporters: [debug, otlphttp/dynatrace]
